/*-------------------------------------------------------------------------------------------
Form
--------------------------------------------------------------------------------------------*/
form { 

	input, 
	select,	
	button,
	textarea { height: 30px; width: 100%; line-height: 30px; padding: 5px; border: 1px solid $primary; @include border-radius(4px); color: $link; }

	input {  }

	textarea { height: auto; min-height: 50px; }
	
	select {  }

	input[type="submit"],
	button[type="submit"] { width: 100px;

		&:hover { background: $link; color: $white; }

	}

}